
/*Elementos generales y elementos por clase*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-width: auto;
    min-height: 100px;
    max-height: auto;
    background-color: rgb(255, 240, 240);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.col-izq
{
    position: initial;
    background-color: #3783d4;
    /*background-color: #206FC2;*/
    padding: 25px;
}
.col-der
{
    position: initial;
    background-color: #e3ebf0be;
    padding: 25px;
    margin-left: 5px;
}
.imagen, .Contacto, .Competencias, .Idiomas, .Hobbies, .Nombre, .Titulo,
.SobreMi, .Educacion{
    
    margin-bottom: 25px;
    margin-top: 25px;
}
.Nombre
{
    background-color: #000;
    color: white;
    text-align: center;
    padding: 5px;
}
.imagen
{
    margin-left: 55px;
}

/*Elementos por tag*/

h2,h3
{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
h2+ul,h3+ul
{
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    line-height: 1.5;
    list-style: circle;
}
button
{
    padding: 3px;
}
img
{

    box-shadow:  0px 0px 10px 2px #000;
}


/*Elementos por ID*/
#Alata
{
    font-family: 'Alata', sans-serif;
}
#blueTxt
{
    color: #206FC2;
}