* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full {
    width: 50%;
    max-width: 1000px;
    min-height: 100px;
    background-color: rgb(255, 240, 240);
    margin: 0px;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.col-izq
{
    position: initial;
    background-color: #206FC2;
    padding: 25px;
}
.col-der
{
    position: initial;
    background-color: #e3ebf0be;
    padding: 25px;
    margin-left: 5px;
}
.imagen, .Contacto, .Skills, .Idiomas, .Hobbies, .Nombre, .title,
.Summary, .Experience, .Education, .project {
    margin-bottom: 25px;
    margin-left: 10px;
}
li
{
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    line-height: 1.5;
}
.h2 {
    background-color: rgb(255, 179, 179);
}